.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.course{
    &__container{
        position: absolute;
        margin-left:var(--nav-width) ;
        width:68%;
        height: 100vh;
        
    }

    &__header{
        display: flex;
        justify-content: space-between;
        background-color: var(--white-color);
        margin: 0px 20px;
        padding: 30px 30px 20px;
        border-end-end-radius: 5px;
        border-end-start-radius: 5px;
        &name{
            display: inline-block;
        }
        &units{
            display: inline-block;
             & a{
                 color: var(--second-color-light);
                 margin-left: 15px;
             }
        }
    }

    &__main{
        background-color: var(--white-color);
        margin: 20px 20px 0px;
        padding: 30px 30px 20px;
        border-start-start-radius: 5px;
        border-start-end-radius: 5px;

        & .form__inputBox{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between ;
            width: 100%;
        }

        & .form__inputLabel{
           width: 25%;
        }

        & .form__input{
            width: 75%;
        }

        & .form__textarea{
            width: 75%;
        }
    }

    &__notes{
        position: absolute;
        width: 25%;
        right: 0;
        height: auto;
        background-color: var(--white-color);
    }
}