/* Others styles */




.dashboard{
    &__container{
        position: absolute;
        padding-left: 100px ;
        width: 100vw;
        height: 100vh;
        
    }

    &__header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 3.5rem;

        &right{
            display: flex;
            align-items: center;
        }

        &left{
            align-items: center;
            margin: auto 0;    
        }

        & img{
            height: 2.5rem;
            margin: 0 1rem;
        }

        & h2{
            margin: auto 0;
        }
    }

    &__main{
        display: flex;

        &info{
            width: 70%;
            padding: 1.5rem;
        }

        &tittle{
            position: relative;
            width: 100%;
            background-color: var(--lilac-color);
            border-radius: 0.5rem;
            display: flex;
            height: 5.5rem;
            box-shadow: var(--shadow1);

            & img{
                position: absolute;
                height: 120%;
                right: 20px;
                bottom: 0;
            }
        }

        &greeting{
            padding-left: 2rem;
            margin: auto 0  ;
            & h3{
                margin: 0;
            }

            & p{
                margin: 0;
            }
        }

        &alerts{
            width: 100%;
            margin-top: 1rem;

        }

        &chartsContainer{
            display: flex;
            justify-content: space-between;
        }

        &notificacions{
            width: 30%;
            padding: 1.5rem;
        }
    }
}