/* Others styles */
@import "./objects/navbar";
@import "./pages/signup";
@import "./pages/signin";
@import "./pages/dash";
@import "./pages/course";
@import "./objects/alert";
@import "./objects/statisticschart";
@import "./objects/form";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
:root{
    --nav-width: 90px;

    --first-color-dark: #E03403;
    --sub-color: blue;
    --third-color: blue; 
    --first-color-lighten: blue;

    /* Colors */
    --first-color: #FC440F;
    --first-color-light: #FF7D57;
    --second-color: #7B2CBF;
    --second-color-medium: #5A189A;
    --second-color-dark: #3C096C;
    --second-color-light: #9D4EDD;
    --second-color-lilac: #C175FF;
    --white-color: #FFFFFF;
    --black-color: #162036;
    --bg-color: #F1F2F6;
    --tx-color: #162036;
    --color-lighten: #F6EBFF;
   

    /* Box Shadow */
    //--shadow1: 14px 0px 4px -11px rgba(170, 151, 223, 0.38), -14px 17px 8px -11px rgba(170, 151, 223, 0.38);
    --shadow1: 0px 2px 6px rgba(0, 0, 0, 0.16);

    /* Fonts */
    --body-font: 'Work Sans', sans-serif;
    --normal-font-size: 20px;
    --medium-font-size: .93rem;
    --small-font-size: .875rem;
    --xsmall-font-size: .8rem;
    --h1-font-size: 1.5rem;
    --nav-icon-text: 25px;

    /*z z index */
    --z-fixed: 100;
}

/* Base */
*,::before,::after{
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    //font-size: var(--normal-font-size);
    transition: .5s;
    background-color: var(--bg-color);
}
h1{
    margin: 0;
    color: var(--first-color);
    font-size: 22px;
}
h2{
    margin: 0;
    color: var(--second-color);
    font-size: 20px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

.container{
    position: relative;
    margin: 0;
    padding: 0;
    color: var(--black-color);
}

@media screen and (min-width: 768px){
    :root{
        /* Fonts */
        --normal-font-size: 1.2rem;
        --small-font-size: .9rem;

    }
}