/* Others styles */
@import "./pages/navbar";
@import "./pages/signup";
@import "./pages/signin";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* Variables */
:root{
    --nav-width: 92px;

    /* Colors */
    --first-color: #2981D5;
    --bg-color: #3227AB;
    --white-color: #F4F4F4;
    --sub-color: #FF9D09;

    /* Other colors */
    --first-color-dark: #23004D;
    --first-color-light: #A49EAC;
    --first-color-lighten: #F2F2F2;

    /* Fonts */
    --body-font: 'Mulish', sans-serif;
    --normal-font-size: 1rem;
    --medium-font-size: .93rem;
    --small-font-size: .875rem;
    --xsmall-font-size: .8rem;
    --h1-font-size: 1.5rem;

    /*z z index */
    --z-fixed: 100;
}

/* Base */
*,::before,::after{
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}
h1{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

@media screen and (min-width: 768px){
    :root{
        /* Fonts */
        --normal-font-size: 1.2rem;
        --small-font-size: .9rem;

    }
}