.coursecard{
    
    &__container{
        position: relative;
        width: 100%;
        padding-right: 10px;
    }

    &__card{
        position: relative;
        margin-bottom: 20px;
        padding: 40px;
        background-color: var(--white-color);
        width: 100%;
        height: calc(100% + var(--bottom-card-height));
        border-radius: 5px;
        box-shadow: 0px 0px 6px 0px #0000001A;
        
        &:not(:first-child){
            padding-bottom: var(--bottom-card-height);
        }
    }

    &__section{
        position: relative;
        //height: 100px;

        &:not(:first-child){
            margin: 30px 0;
            position: absolute;
            visibility: hidden;
        }

        &--visible{
            &:not(:first-child){
                position: relative;
                visibility: visible;
            } 
        }

        &:last-child{
            margin-bottom: 20px;
        }

        
        & textarea{
            resize: none;
            height: 60px;
            width: 100%;
            padding: 0.6rem 0.8rem;
            background-color: var(--bg-color);
            border-radius: .5rem;
            border: none;
            outline: none;
            margin-left: 5px;
            font-size: var(--medium-font-size);
            color: var(--black-color);
            font-family: var(--body-font);
    
            &::placeholder{
                font-family: var(--body-font);
                font-size: var(--medium-font-size);
                color: var(--gray-color-light);
            }
        }
    }

    &__rate{
        display: flex;
        justify-content: center;
        align-items: center;
        & p{
            width: 80px;
            text-align: center;
        }

        &Check{
            display: inline-block;
            text-align: center;
            line-height: 40px;
            width: 45px;
            height: 45px;
            border-radius: 30px;
            background-color: var(--white-color);
            border: #758BFD 3px solid;
            color: #758BFD;
            font-weight: 500;
            margin-left: 10px;
            cursor: pointer;

            &:last-child{
                margin-right: 10px;
            }

            &--checked{
                display: inline-block;
                text-align: center;
                line-height: 40px;
                width: 45px;
                height: 45px;
                border-radius: 30px;
                background-color: var(--second-color-light);
                color: var(--white-color);
                border: var(--second-color-light) 3px solid;
                //transition: 0.98s;
            }
        }

        &--hidden{
            position: absolute;
            display: none;

        }
    }

    &__gradeExplanation{
        display: flex;

        & div:first-child{
            width: 10%;
            margin: 0 20px ;
        }

        & div:last-child{
            width: 90%;
        }
    }

    &__bottom{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 30px 30px;
        height: var(--bottom-card-height);
        left: 0;
        bottom: calc(-height);

        background-color: var(--gray-color-light);
        border-end-end-radius: 5px;
        border-end-start-radius: 5px;

        &StatesContainer{
            display: flex;
            align-items: center;
        }
        &State{
            position: absolute;
            visibility: hidden;
            display: flex;
            align-items: center;

            &--visible{
                position: relative;
                visibility: visible;
            }

            &Card{
                position: absolute;
                visibility: hidden;
                display: flex;
                height: 40px;
                padding: 0 10px;
                margin-left: 10px;
                align-items: center;
                background-color: var(--white-color);
                border-radius: 5px;
                color: var(--first-color);
                
                & p{
                    color: var(--first-color);
                    font-weight: 500;
                    margin-right: 5px;
                }
                
                &:last-child{
                    color: var(--second-color);
                    & p{
                        color: var(--second-color);
                        font-weight: 500;
                        margin-right: 5px;
                    }
                }

                &--visible{
                    visibility: visible;
                    position: relative;
                } 
            }

            &Alert{
                display: flex;
                align-items: center;
                position: absolute;
                visibility: hidden;
                color: var(--first-color);

                &--visible{
                    position: relative;
                    visibility: visible;
                }
            }
        }

        &BtnsContainer{
            display: flex;
            align-items: center;
        }
        &Btn{
            visibility: hidden;
            position: absolute;
            &--visible{
                visibility: visible;
                position: relative;
                margin-left: 15px;
            }
        }
    }

    &__studentQuestion{
        position: absolute;
        display: none;

        &--visible{
            position: relative;
            display: block;
        }

        & h3{
            margin-top: 30px;
            margin-bottom: 20px;
        }

        &Box{
            position: relative;
            width: 100%;
            margin-bottom: 20px;
            border: solid 1px var(--gray-color-light);
            //background-color: var(--gray-color-medium);
            //box-shadow: 0px 0px 6px 0px #0000001A;
            border-radius: 5px;
            padding: 20px;

            &--disabled{
                opacity: 0.5;
            }
        }

        &Visibility{
            position: absolute;
            right: 0px;
            top: 20px;
            display: flex;
            align-items: center;
            margin: 0 20px;

            & p{
                font-weight: 500;
                margin: 0;
                margin-right: 10px;
            }

            & input{
                margin: 0;
            }
        }

        &Type{
            margin: 0;
            margin-top: 15px;
            font-weight: 500;
            color: var(--gray-color-medium);
        }

        &Question{
            margin: 0;
            margin-top: 6px;
        }

        &Info{
            display: flex;
            align-items: center;
            justify-content: start;
            color: var(--first-color);

            & p{
                margin: 0;
                margin-left: 10px;
                color: var(--first-color);
            }

            & ion-icon{
                font-size: 20px;
            }
            //background-color: blue;
        }

        & ul{
            margin-left: 20px;
            margin-top: 10px;
            & li{
                display: flex;
                align-items: center;
                margin-top: 5px;
                 & p{
                    margin: 0;
                 }
    
                 & label{
                    width: 20px;
                 }
                 & input{
                     width: 400px;
                     //margin-left: 10px;
                 }
            }
        }
    }

    &__answers{
        position: absolute;
        display: none;

        &--visible{
            position: absolute;
            display: block;
        }

        & .answerBox{
        
                position: absolute;
                display: none;

                & img{
                    margin: 0;
                }
        
            &--visible{
                position: relative;
                display: block;
                padding: 20px;

                & p{
                    margin-bottom: 0px;
                }
            }
        
        }
    }

    &__reportWelcome{
        width: 100%;
        overflow: visible;
        display: flex;

        &Txt{
            width: 60%;
        }

        & img{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 40%;
        }
    }
}

.termObj{
    &Grade__rate{

        & .termObjGrade__obj{
            //width: 40%;
            margin-left: 10px;
        }

        & li{
            display: flex;
            align-items: center;
            min-height: 60px;
            max-height: 120px;
            //margin-bottom: 10px;

            & p{
                margin: 0;
            }

            & .coursecard__rate{
                min-width: 60%;
                margin-left: 15px;
            }
        }
    }

    &1Grade{
        position: absolute;
        display: none;

        &--visible{
            position: relative;
            display: block;
        }
    }

    &2Grade{
        position: absolute;
        display: none;

        &--visible{
            position: relative;
            display: block;
        }
    }

    &3Grade{
        position: absolute;
        display: none;

        &--visible{
            position: relative;
            display: block;
        }
    }

    &4Grade{
        position: absolute;
        display: none;

        &--visible{
            position: relative;
            display: block;
        }
    }

    &5Grade{
        position: absolute;
        display: none;

        &--visible{
            position: relative;
            display: block;
        }
    }
}

.reportGraphic{
    display: none;
    position: absolute;

    &--visible{
        display: block;
        position: relative;
    }

    &__comment{
        display: none;
        position: absolute;

        &--visible{
            display: block;
            position: relative; 
        }
    }
}

.emptyCalification{
    &:not(ul){
        text-align: center;
        margin: 40px 0;
    }

    display: none;
    position: absolute;

    &--visible{
        display: block;
        position: relative; 
    }
}

.hidden{
    display: none;
    position: absolute;
}