.form{
    &__inputBox{
        //display: flex;
        //position: relative;
        //background-color: blue;
        margin: 0;
        margin-top: 0.3rem;
        margin-bottom: 30px;
    }

    &__icon{
        font-size: 1.5rem;
        color: var(--first-color-light);
    }

    &__input{
        padding: 0.6rem 0.8rem;
        background-color: var(--bg-color);
        border-radius: .5rem;
        border: none;
        outline: none;
        //width: 100%;
        margin-left: 5px;
        font-size: var(--medium-font-size);
        color: var(--black-color);
        font-family: var(--body-font);

        &::placeholder{
            font-family: var(--body-font);
            font-size: var(--medium-font-size);
            color: #D6A3FF;
        }

        &Label{
            font-size: var(--medium-font-size);
            color: var(--black-color);
            font-weight: 500px;
        }

        &ErrorMessage{
            position: absolute;
            visibility: hidden;
            bottom: -20px;
            left: -2px;
            font-size: var(--xsmall-font-size);
        }

        &Success{
            border: 1px solid #2ecc71;
        }

        &Error{
            border: 1px solid #e74c3c;

            & small{
                color: #e74c3c;
                visibility: visible;
            }
        }
    }

    &__textarea{
        resize: none;
        height: 100px;
        padding: 0.6rem 0.8rem;
        background-color: var(--bg-color);
        border-radius: .5rem;
        border: none;
        outline: none;
        margin-left: 5px;
        font-size: var(--medium-font-size);
        color: var(--black-color);
        font-family: var(--body-font);

        &::placeholder{
            font-family: var(--body-font);
            font-size: var(--medium-font-size);
            color: #D6A3FF;
        }

        &Label{
            font-size: var(--medium-font-size);
            color: var(--black-color);
            font-weight: 500px;
        }

    }
}