/* l nav */
.l-navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--white-color);
    color: var(--white-color);
    padding: 10px 20px;
    transition: .5s;
    z-index: var(--z-fixed);
}

/* nav */
.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    &__brand{
        display: grid;
        grid-template-columns: max-content max-content;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    &__toggle{
        font-size: var(--nav-icon-text);
        color: var(--second-color);
        padding: 10px;
        cursor: pointer;
    }

    &__logo{
        color: var(--white-color);
        font-weight: 600;
    }

    &__link{
        background-color: var(--second-color);
        display: grid;
        grid-template-columns: max-content max-content;
        align-items: center;
        column-gap: .75rem;
        padding: 10px 8px;
        color: var(--white-color);
        border-radius: 5px;
        margin-bottom: 25px;
        transition: .3s;
        cursor: pointer;

        &:hover{
            background-color: var(--first-color);
        }
    }

    &__icon{
        font-size: var(--nav-icon-text);
        width: 30px;
        text-align: center;
    }

    &__name{
        font-size: var(--small-font-size);
    }

    & #signOutBtn{
        background-color: var(--white-color);
        color: var(--second-color);
    }
}

/* expander */
.expand{
    width: calc(var(--nav-width) + 160px);
}