 .statisticschart{
    display: inline-block;
    margin: 0;
    box-shadow: var(--shadow1);
    width: 48%;
    border-radius: 10px ;
    margin-top: 15px;
    padding: 20px;

    &__tittle{
        font-size: var(--normal-font-size);
        text-align: center;
        color: var(--first-color);
        margin: 0;

        & h3{
            font-size: var(--normal-font-size);
            margin: 0;
        }
    }

    &__statistics{
        display: flex;
        & h4{
            font-size: var(--medium-font-size);
        }

        

        &left{
            width: 40%;
        }

        &right{
            width: 60%;
        }
    }
}