.alert{
    border-radius: 10px;
    box-shadow: var(--shadow1);
    display: flex;
    padding: 0.8rem;
    margin-top: 15px;
    justify-content: space-between;
    //border: blue solid 1px;

    &__content{
        margin: auto 0;
        display: flex;
        align-items: center;

        &message{
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
        }
    }

    & ion-icon{
        color: var(--second-color);
        font-size: var(--normal-font-size);
    }

    &__subject{
        font-size: var(--normal-font-size);
        font-weight: 700;
    }

    &__message{
        font-size: var(--medium-font-size);
    }

    &__button{
        margin: auto 0;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 700px){
    .alert{
        background-color: wheat;
    }
}

@media screen and (min-width: 701px) and (max-width: 1024px){
    .alert{
        background-color: blue;
    }
}